@import url('https://fonts.googleapis.com/css2? family= Creepster & display=swap');
   
 h1{
     color: blue;
 }

    header{
        width: 100%;
        background-color: #000000;
        display: flex;
        flex-grow: 2;
    }
    .header{
        display: flex;
        padding: 20px;
    }


 
    body {
    background-color: #000000;
    }

 
button{
    margin: 50px;
    position: relative;
    top: 200px;
    left: 37%;
     
}
.btn1{

        background-color: red;
        color: #000000;
        width: 200PX;
        height: 40px;
        border: 3px  ; #fff solid;
        border-radius: 15px;
        display: inline;
     
    }
    .btn1:hover{
        background-color: green;
        color: red;
        width: 200px;
        height: 40px;
        border: 3px  ; #000 solid;
        border-radius: 15px;
        cursor: pointer;
        
    }

    nav a {
        color: black;
        font-weight: bold;
        font-size:22px ;
        text-decoration: none;
    }
 

  .DaviJogos {

    color: white;
    flex-grow: 3;
    font-weight: bolder;

}

.home{
 
    flex-grow: 1;
    color: white;
    font-weight: bolder;
    padding: 20px;
}
.sobre{

    flex-grow: 1;
    color: white;
    font-weight: bolder;
}
.contato{
  
  flex-grow: 1;
  color: white;
  font-weight: bolder;
}
