@import url('https://fonts.googleapis.com/css2? family= Creepster & display=swap');

* {
    margin: 0;
    padding: 0;
 }   

body {
    background-color: #000000;
    background-image: url("../../assets/ngs.jpg") ;
    background-size: 100%;
    background-repeat: no-repeat;
}
header{
    width: 100%;
    background-color: #ffd000;
    display: flex;
    flex-grow: 2;
}
.header{
    display: flex;
    padding: 20px;
}

 h1{
     color: blue;
 }

button{
    margin: 50px;
    position: relative;
    top: 200px;
    left: 37%;     
}

.btn1{

    background-color: #ffd000;
    color: #000000;
    width: 200PX;
    height: 40px;
    border-radius: 15px;
   }

 
.btn1:hover{
    background-color: blue;
    color: red;
    width: 200px;
    height: 40px;
   
    
}

nav a {
    color: black;
    font-weight: bold;
    font-size:22px ;
    text-decoration: none;
}


.DaviJogos {

color: black;
flex-grow: 3;
font-weight: bolder;
font-size: 30px;

}

.home{

flex-grow: 1;
color: black;
font-weight: bolder;
font-size: 20px;
text-decoration: none;
}
.sobre{

flex-grow: 1;
color: black;
font-weight: bolder;
font-size: 20px;
text-decoration: none;
}
.contato{

flex-grow: 1;
color: black;
font-weight: bolder;
font-size: 20px;
text-decoration: none;
}

.home .sobre .contato :hover{
    color:yellow;
}